.img-fluid{
    width: 100px;
    height: 100px;
}

.first{
    background-color: crimson;
}
.img{
    width: 100px;
    height: 100px;
}
.text-center1{
    text-align: center;
    width: 100%;
    height: 40px;
    background-color: rgb(93, 90, 93);
    color: cyan;
}
*{
    margin: 0;
    padding: 0;
}
.ach{
    text-decoration: none;
    color: #ffffff;
}